@import "../../../stylesheet/default.scss";
// red
$red-level: 5 !default;
$red-backgroundColor: #f71c1c !default;
$red-font-color: $font-default-color-white !default;
$red-box-size: 14px !default;
$red-circle-radius: 14px !default;
$red-fillet-radius: 5px !default;
$red-margin: 16px !default;
$red-padding: 2px !default;
