@import "./opinion.scss";
@import "../../../stylesheet/mixin.scss";

$prefix: m-red;

.#{$prefix}-container {
  position: relative;
  display: inline-block;

  .#{$prefix}-red {
    background: $red-backgroundColor;
  }

  .#{$prefix}-normal {
    min-width: 16px;
    height: 16px;
  }

  .#{$prefix}-default {
    z-index: $red-level;
    color: $red-font-color;
    position: absolute;
    line-height: 16px;
    text-align: center;
    padding: $red-padding;
    white-space: nowrap;
    @include transition(all 500ms ease);
  }

  .#{$prefix}-mini {
    @include box(4px, 4px);
  }

  .#{$prefix}-shape-circle {
    border-radius: $red-circle-radius;
  }
  .#{$prefix}-shape-fillet {
    border-radius: $red-fillet-radius;
  }
}
