{
	"env": {
		"es6": true,
		"node": true,
	},
	"extends": "eslint:recommended",
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parserOptions": {
		"sourceType": "module",
		"experimentalObjectRestSpread": true,
		"jsx": true,
	},
	"rules": {
		"no-console": "off",
		"parser": "babel-eslint",
	}
}
