// Button
$button-level: 0 !default;
$button-size-large: 8px 20px !default;
$button-size-normal: 6.5px 16px !default;
$button-size-small: 5px 10px !default;
$button-size-tiny: 2px 5px !default;
$button-small-font-size: 13px !default;
$button-small-font-size: 13px !default;
$button-normal-font-size: 16px !default;
$button-large-font-size: 20px !default;
$button-outline: #303030e8 dotted 2px !default;
