//dragBox
$dragBox-ghost: 15 !default;
$dragBox-upload: 0 !default;
$dragBox-split: 0 !default;
$dragBox-dragLine-level: 16 !default;
$dragBox-dragLine-width: 8px !default;
$dragBox-split-padding: 8px !default;
$dragBox-upload-color: #cfcfcf !default;
$dragBox-upload-border: 2px dotted #cfcfcf !default;
$dragBox-upload-border-radius: 5px !default;
