.site-block {
  width: 100%;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 20px;
  .block {
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
  }
  .gui {
    padding: 20px;
  }

  .intro {
    padding: 10px 20px;
    position: relative;
    border: {
      top: none;
      bottom: none;
    }
  }

  .codeBlock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    .codeIcon {
      margin-right: 20px;
      .m-icon-default {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
