.titleWrapper {
  display: inline-block;
	position: relative;
	margin-bottom: 20px;
  div {
    display: inline-flex;
    align-items: center;
    .titleH {
			margin: 0;
      margin-right: 10px;
		}
		span{
			margin-right: 8px;
			font-weight: 600;
		}
    a {
			font-weight: 600;
      text-decoration: none;
      font-size: 25px;
			color: #0bffb6;
      transition: opacity 100ms ease-in;
      will-change: opacity;
			opacity: 0.2;
			cursor: default;
      &:hover {
        opacity: 1;
      }
    }
  }
}
