{
	"extends": [
		"plugin:react/recommended",
		"prettier/react",
		"prettier"
	],
	"plugins": [
		"react",
		"react-hooks"
	],
	"env": {
		"browser": true,
		"node": true
	},
	"settings": {
		"react": {
			"pragma": "React",
			"version": "detect"
		}
	},
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly",
		"page": true,
		"browser": true,
		"context": true,
		"jestPuppeteer": true //https://github.com/smooth-code/jest-puppeteer
	},
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 1
			}
		],
		"no-undef": "error",
		"semi": "warn",
		"quotes": [
			1,
			"single"
		],
		"no-multi-spaces": [
			"error",
			{
				"ignoreEOLComments": true
			}
		],
		"no-unused-vars": "warn",
		"comma-dangle": [
			"warn",
			{
				"arrays": "never",
				"objects": "never",
				"imports": "never",
				"exports": "never",
				"functions": "never"
			}
		],
		"no-console": [
			"error",
			{
				"allow": [
					"warn",
					"log",
					"time",
					"timeEnd",
					"info",
					"table",
					"error"
				]
			}
		],
		"react/prop-types": 0,
		"react/self-closing-comp": 1,
		"react/display-name": 0,
		"react-hooks/rules-of-hooks": "warn",
		"react-hooks/exhaustive-deps": "warn"
	}
}
