//gradientsBar
$gradientsBar-level: 20 !default;
$gradientsBar-alert-width: 100vw !default;
$gradientsBar-alert-height: 55px !default;
$gradientsBarAlertCancel: "../../../assets/icons/local/danger_black.svg" !default;
