// message
$message-level: 1000 !default;
$message-top: 40px !default;
$message-bottom: 70px !default;
$message-vl: 50% !default;
$message-hlr: 0 !default;
$message-height: 32px !default;
$message-padding: 0 10px !default;
$message-shadow: 2px 1px 10px #d4d4d4 !default;
$message-opacity: 0.9 !default;
$message-trans: 40px !default;
$message-marginBottom: 10px !default;
$message-fontSize: 16px !default;
