//citation
$citation-linear-color: 90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63% !default;
$citation-mb: 25px !default;
$citation-height: 20px !default;
$citation-mt: 15px !default;
$citation-backSize: 400% 100% !default;
$citation-backPos: 0 100% !default;

//typeOne
$citation-oneDiv-mt: 25px !default;
$citation-one-width: 100% !default;

//typeTwo
$citation-square-box: 100px !default;
$citation-mr: 20px !default;
$citation-sideDiv-box: 100% !default;
$citation-side-box: 100% !default;
$citation-circle: 100px !default;
