// Input
$input-size-small: 2px;
$input-size-normal: 4px;
$input-size-large: 6px;
$input-border: 1.5px solid #c5c5c5 !default;
$input-border-focus: 1.5px dotted #c5c5c5 !default;
$input-font-size-small: $font-size-small !default;
$input-font-size-normal: $font-size-normal !default;
$input-font-size-large: $font-size-large !default;
$input-readonly-color: #fafafa !default;
$input-readonly-font-color: #b3b3b3 !default;
$input-readonly-forbidIcon: "../../../assets/icons/forbid.ico";
