// Bubble
$bubble-level: 5 !default;
$bubble-size: 14px !default;
$bubble-type-SkyBlue: #04befe !default;
$bubble-type-LightDark: #505050 !default;
$bubble-type-EarthGreen: #53cc02 !default;
$bubble-type-NoticeYellow: #ffc125 !default;
$bubble-type-DangerRed: #ee2c2c !default;
$bubble-triangle-size-width: 20px !default;
$bubble-content-size: 8px 15px !default;
$bubble-content--size-tiny: 4px 8px !default;
