//default color
// normal color
//white
$white: #FFFFFF;

// green
$green-a:#00FF00;
$green-b:#00FA9A;
$green-c:#4EEE94;
$green-d:#00CD00;
$green-e:#20B2AA;
$green-f:#159957;
$green-g:#00CD66;

//red
$red-a:#FF0000;
$red-b:#F4606C;
$red-c:#FF3030;
$red-d:#FF4500;
$red-e:#FF6A6A;
$red-f:#CD3333;
$red-g:#FF3030;

//blue
$blue-a:#00BFFF;
$blue-b:#87CEEB;
$blue-c:#1E90FF;
$blue-d:#4682B4;
$blue-e:#155799;
$blue-f:#0000FF;
$blue-g:#191970; 

//yellow
$yellow-a: #FFFF00;
$yellow-b: #EEEE00;
$yellow-e: #FFC125;
$yellow-f: #FFB90F;
$yellow-d: #EEC900;
$yellow-c: #FFD700;
$yellow-g: #EEAD0E;

// purple
$purple-a: #FF00FF;
$purple-a: #EE00EE;
$purple-a: #FFBBFF;
$purple-a: #E066FF;
$purple-a: #B23AEE;
$purple-a: #7D26CD;
$purple-a: #AB82FF;
$purple-a: #551A8B;

// gray
$gray-a:#1C1C1C;
$gray-b:#363636;
$gray-c:#696969;
$gray-d:#828282;
$gray-e:#B5B5B5;
$gray-f:#CFCFCF;
$gray-g:#E8E8E8;

//black
$black-a:#000000;
$black-a:#242424;


